
  <div{{ content_attributes.addClass('grid-row flex-align-start')  }}>
    <div{{ attributes.addClass('event-title desktop:grid-col-4 grid-col-12') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </div>
    <div class="desktop:grid-col-8 grid-col-12 grid-row">
    {{ content }}
    </div>
  </div>
