{% block footer %}
  <footer class="{{ footer_classes }}" role="contentinfo">
    {% if display_footer_primary %}
      <div class="usa-footer__primary-section">

        <div class="usa-footer__primary-content">
          {% if footer_style != 'medium' %}
          <div class="grid-container-widescreen">
            <div class="grid-row grid-gap">
              {% endif %}

              {% if page.footer_menu %}
                {{ page.footer_menu }}
              {% endif %}

              {% if footer_slim and (footer_phone or footer_email) %}
                <div class="mobile-lg:grid-col-4">
                  <address class="usa-footer__address">
                    <div class="grid-row grid-gap mobile-lg:grid-gap-0">
                      {% if footer_phone %}
                        <div
                          class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                          <div class="usa-footer-contact_info">
                            <a
                              href="tel:{{ footer_phone }}">{{ footer_phone }}</a>
                          </div>
                        </div>
                      {% endif %}

                      {% if footer_email %}
                        <div
                          class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                          <div class="usa-footer-contact_info">
                            <a
                              href="mailto:{{ footer_email }}">{{ footer_email }}</a>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </address>
                </div>
              {% endif %}

              {% if footer_style != 'medium' %}
            </div>
          </div>
          {% endif %}

          {% if page.footer %}
            <div class="grid-container-widescreen">
              <div class="grid-row grid-gap">
                <div class="grid-col-fill">
                  {{ page.footer }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>

      </div>
    {% endif %}

    {% if display_footer_secondary %}
      <div class="usa-footer__secondary-section">
        <div class="grid-container-widescreen">
          <div class="grid-row grid-gap">
            {% if display_footer_agency %}
            <div class="usa-footer__logo grid-row mobile-lg:grid-gap-2">

              {% if footer_agency_url %}
              <a href="{{ footer_agency_url }}">
              {% endif %}

                {% if footer_agency_logo %}
                  <div class="mobile-lg:grid-col-auto">
                    <img class="usa-footer__logo-img"
                      src="{{ footer_agency_logo }}"
                      alt="{{ 'Agency logo'|t }}"
                    />
                  </div>
                {% endif %}

                {% if footer_agency_name %}
                  <div class="mobile-lg:grid-col-auto">
                    <h3 class="usa-footer__logo-heading">
                      <span class="reg">&reg;</span>
                      {{ footer_agency_name }}
                    </h3>
                  </div>
                {% endif %}

              {% if footer_agency_url %}
              </a>
              {% endif %}

            </div>

            {% if not footer_slim %}
              <div class="usa-footer__contact-links desktop:grid-col-6">
                {% if facebook or twitter or instagram or linkedin or youtube or rss %}
                <div class="usa-footer__social-links grid-row grid-gap-1">
                {% if linkedin %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--linkedin" href="{{ linkedin }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/linkedin.svg" alt="LinkedIn">
                    </a>
                  </div>
                {% endif %}

                {% if twitter %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--twitter" href="{{ twitter }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/twitter.svg" alt="Twitter">
                    </a>
                  </div>
                {% endif %}

                {% if youtube %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--youtube" href="{{ youtube }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/youtube.svg" alt="YouTube">
                    </a>
                  </div>
                {% endif %}

                {% if phone %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--phone" href="tel:{{ phone }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/phone.svg" alt="Phone">
                    </a>
                  </div>
                {% endif %}

                {% if email %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--email" href="mailto:{{ email }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/mail.svg" alt="E-mail">
                    </a>
                  </div>
                {% endif %}

                {% if facebook %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--facebook" href="{{ facebook }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/facebook.svg" alt="Facebook">
                    </a>
                  </div>
                {% endif %}

                {% if instagram %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--instagram" href="{{ instagram }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/instagram.svg" alt="Instagram">
                    </a>
                  </div>
                {% endif %}

                {% if rss %}
                  <div class="grid-col-auto">
                    <a class="usa-social-link usa-social-link--rss" href="{{ rss }}">
                      <img class="usa-social-link__icon" src="{{ uswds_images }}usa-icons/rss_feed.svg" alt="RSS">
                    </a>
                  </div>
                {% endif %}
                </div>
                {% endif %}

                {% if contact_center %}
                  <h3 class="usa-footer__contact-heading">{{ contact_center }}</h3>
                {% endif %}                
              </div>
            {% endif %}

          </div>
          {% endif %}

          {% if page.footer_secondary %}
            <div class="grid-container-widescreen">
              <div class="grid-row grid-gap">
                <div class="grid-col-fill">
                  {{ page.footer_secondary }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if page.footer_doe %}
      <div class="usa-footer__doe">
        <div class="grid-container-widescreen">
          {{ page.footer_doe }}
        </div>
      </div>
    {% endif %}
  </footer>
{% endblock %}
